---
layout: default
onepage: true
services:
  - title: Tech @ the Park
    icon: fa fa-laptop
    desc: Two hour workshops focused on a positive experience in Web Development.
    bg: /assets/images/courses/intro-service.png
    link: https://finli.com/classes/./tech-the-park/
  - title: Intro to Web Development
    icon: fa fa-laptop
    desc: 6 Week Apprenticeship Teaching The Fundamentals of Web Development.
    bg: /assets/images/courses/intro-to-web.png
    link: https://finli.com/classes/course-offerings/
  - title: Eight Week Professional Training
    icon: fa fa-bookmark-o
    desc: 8 Week Apprenticeship focused on building Fullstack JavaScript Applications.
    bg: /assets/images/courses/tbd-the-professionals-1.png
    link: https://finli.com/classes/course-offerings/
works:
  - path: _works/diff-foods.md
  - path: _works/sketch-book.md
  - path: _works/tv-video.md
    style: wide
  - path: _works/umbrella-beauty.md
  - path: _works/amber.md

members:
  - avatar: assets/images/members/brandon.jpg
    name: Brandon Bailey
    position: CEO and Founder
    socials:
      - link: https://www.linkedin.com/in/brandon-bailey-3732885b/
        icon: linkedin
      - link: https://www.instagram.com/dammitBrandon/
        icon: instagram
    desc:
      "As the founder and CEO of TutorD Scholars, as a software engineer with over ten years of experience, he knows that user-centered and easy-to-grasp educational approaches are essential to distinguish an excellent educational product and a life-changing product."
  - avatar: assets/images/members/kellee.jpg
    name: Kellee Bassaragh
    position: Growth and Marketing
    socials:
      - link: https://www.linkedin.com/in/kelleeb/
        icon: linkedin
      - link: https://www.instagram.com/kelleeb/
        icon: instagram
    desc:
      "Kellee is the Director of Marketing and PR, and volunteers as a Educator as well, Teach how to make a campaign go viral.  She has over 12 years of professional experience in her perspective field and brings a bright touch to TutorD Scholars."
  - avatar: /assets/images/members/michael.jpg
    name: Micheal Evans
    position: Brand and Community Engagement
    socials:
      - link: https://www.linkedin.com/in/michaelevans215/
        icon: linkedin
      - link: https://www.instagram.com/m_i_c_evans/
        icon: instagram
    desc:
      "Mike is a Customer Success and Sales professional in IT, specialises in building blocks of the content and connecting with our core audience."
  - avatar: assets/images/members/jerald.jpg
    name: Jerald Garrett
    position: Director of Operations
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Jerald is our Director of Operations and prefers to make his impact behind the scenes.  He has an extensive background in HR and also is very passionate about bringing tech to urban communities."

team_slides:
  - /assets/images/stills/MVI_5606.00_00_08_00.Still008.jpg
  - /assets/images/stills/MVI_5606.00_00_08_00.Still005.jpg
  - /assets/images/stills/MVI_5606.00_00_01_06.Still003.jpg
  - /assets/images/stills/MVI_5606.00_00_19_05.Still006.jpg

testimonials:
  - quote: "I had a great experience with this program. The TutorD Scholars program taught me more about computer coding than I already knew coming in from my CS class and I would just like to say thank you for everything so far."
    author:
      name: "B'yond Taylor"
      avatar: '/assets/images/scholars/byond-taylor-1.png'
      position: 'Scholar Zero'
  - quote: "If I could sum the course up in one word: Empowering."
    author:
      name: "Tyler Grady"
      avatar: 'assets/images/members/tyler-grady.jpg'
      position: 'Former Web Dev Scholar'
  - quote: "This was my first attempt at getting into the IT field and the instructors made me feel like I could actually get into tech and having people that I could relate to teaching the class was a priceless experience."
    author:
      name: "Jarrel Bailey"
      avatar: 'assets/images/scholars/jarrel-bailey.jpg'
      position: 'Studying Cyber Security'
  - quote: "I had the pleasure of working with Tutor D Scholars last fall. It was amazing to work with other young professionals who are so talented. The dedication from the students was awesome to experience as well. Each weekend we got to work with the kids and see them progress from eager students to young adults with amazing potential. I am so happy I was a part of the program."
    author:
      name: "Christina Day"
      avatar: '/assets/images/members/christina-day.png'
      position: 'Volunteer - UX/UI Designer'
  - quote: "After going to the workshop it is apparent that TutorD Scholars is an organization that genuinely values and respects that everyone learns differently. During the class, I could see students feel more confident and empowered to learn and become curious."
    author:
      name: "Aya Pogrebinsky"
      avatar: '/assets/images/members/aya-pogrebinsky.jpg'
      position: 'Volunteer - UX/UI Designer'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png
  - /assets/images/@stock/client-7.png
  - /assets/images/@stock/client-2.png

  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-6.png

courses:

---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/highlight-reel.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Formulating the Next Generation </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">TutorD Scholars </span><br/>

      </h1>
      <h2 class='thin'>
        TutorD Scholars is a hands-on educational platform, teaching urban youth in-
        demand 21st-century skills via online and in-person workshops.
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>View our courses.</a>
      </h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Learning Experiences</p>
        <h2>
          We create an engaging and thoughtful space
            <br/>
          where the scholar comes first.
        </h2>
        <p class="big-size">
          Either online or in-person, scholars receive hands-on experience working with
          leading experts from top companies and booming startups in the technology, marketing and
          communication industries.
        </p>
        <div class="four spacing"></div>
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/stills/MVI_5606.00_00_08_12.Still004.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>scholar focused</h2>
    </div>
    <p class="light">With the whole student in mind, we at TutorD Scholars provide an inclusive atmosphere.
      We provide the laptops and also food the students making sure their we meet them where they are and
      their needs so that they can focus on learning.</p>
    <p class="light"></p>
    <div class="two spacing"></div>
    <a href="#services" class="button small">Click here to become a Scholar</a>
    <div class="three spacing"></div>
  </div>
</div>


<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Transforming the workforce</p>
        <h2>Course Offerings</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>


<!--<a id='works'></a>-->
<!--<div class='full'>-->
<!--  <div class='row'>-->
<!--    <div class='large-8 columns large-centered'>-->
<!--      {% include section-title.html small_title="take a look" title="What we've recently done." %}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class='full no-padding' id="demo-1-works">-->
<!--  <div class='mod modMasonryGallery'>-->
<!--    <ul class='gallery'>-->

<!--      {% for item in page.works %}-->

<!--        {% assign work = site.works | where:"path",item.path | first %}-->

<!--        {% if item.style == 'wide' %}-->
<!--          {% assign class = 'wide' %}-->
<!--          {% assign width = 1000 %}-->
<!--          {% assign height = 350 %}-->
<!--        {% else %}-->
<!--          {% assign class = '' %}-->
<!--          {% assign width = 500 %}-->
<!--          {% assign height = 350 %}-->
<!--        {% endif %}-->

<!--        <li class="{{class}}">-->
<!--          <a href='{{ work.url | relative_url }}'>-->
<!--            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />-->
<!--            <div class='overlay'>-->
<!--              <div class='thumb-info'>-->
<!--                <h3>{{ work.title | downcase | capitalize }}</h3>-->
<!--                <p>{{ work.categories | join:" & " | escape }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </li>-->

<!--      {% endfor %}-->

<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Customized to meet your needs.</h3>
      <p>
        We honor all learning styles and skill levels. And we will meet you where you are.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
<!--        <a class='button small boxed' href='#'>Download Now</a>-->
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<a id='team'></a>

<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Greetings! Meet your Tutors." %}
    </div>
  </div>
</div>

<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
    <div class="large-3 columns">
      <div class='member-dec'>
        <div class='intro'>
          <h3>{{ member.name | escape }}</h3>
          <h4>{{ member.position | escape }}</h4>
          <p>{{ member.desc | escape }}</p>
          <ul class='socials'>
            {% for social in member.socials %}
            <li>
              <a href='{{ social.link }}' target="_blank">
                <i class='fa fa-{{ social.icon }}'></i>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>




<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/stills/MVI_5606.00_00_08_12.Still004.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our scholars say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

{% include social-networks.html %}
