<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="contact" title="Work with us" %}
    </div>
    <div class='four spacing'></div>
    <div class='large-8 medium-8 columns'>
      <div class='form'>
        <div class='row'>
        <form action="https://tutord.us20.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="c55ab6c6180ed851656f298c6">
    <input type="hidden" name="id" value="5a99e88619">

            <div class='large-12 columns'>
              <p id='thanks'>
                Thanks for contacting us, we'll be in touch soon!
              </p>
            </div>
            <div class='medium-12 columns'>
              <input class='required' name='MERGE1' id='MERGE1' placeholder='FIRST NAME' type='text'>
              <input class='required' name='MERGE2' id='MERGE2' placeholder='LAST NAME' type='text'>
              <input class='required email' name='MERGE0' id='MERGE0' placeholder='EMAIL' type='text'>
              <textarea class='required' name='comment' placeholder='COMMENT'></textarea>
              <input name="recipient" type="hidden" value="{{ site.email }}" />
              <div class='spacing'></div>
              <input class='button white' type='submit'>
            </div>
          </form>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
    <div class='large-4 medium-4 columns'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>
        <div class='contact-details'>
          <div class='content'>
            <h4>Head office:</h4>
            <p>
              TutorD Scholars
              <br>
              4859 W. Slauson Ave
              <br>
              PO Box 121
              <br>
              Los Angeles, CA 90056
            </p>
            <h4>Phone:</h4>
            <p>+1 (301) 404 - 1730</p>
            <h4>Email:</h4>
            <p>scholars@tutord.io</p>
          </div>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
  </div>
</div>
