<div class='full parallax social-networks' style="background-image: url({{ "/assets/images/stills/MVI_5606.00_00_02_06.Still001.jpg" | relative_url }})">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='medium-4 columns'>
      <div class='big-social'>
        <a href='https://www.instagram.com/tutordscholars/' target="_blank">
          <i class='fa fa-instagram'></i>
        </a>
        <h4>Instagram</h4>
        <p>Find us on IG </p>
      </div>
      <div class='two spacing'></div>
    </div>
<!--    <div class='medium-4 columns'>-->
<!--      <div class='big-social'>-->
<!--        <a href='http://twitter.com'>-->
<!--          <i class='fa fa-twitter'></i>-->
<!--        </a>-->
<!--        <h4>Patreon</h4>-->
<!--        <p>Follow our tweets</p>-->
<!--      </div>-->
<!--      <div class='two spacing'></div>-->
<!--    </div>-->
    <div class='medium-4 columns'>
      <div class='big-social'>
        <a href='https://www.youtube.com/channel/UCRAnUTvfhOM0nQVkmVJO-0w'>
          <i class='fa fa-youtube-play'></i>
        </a>
        <h4>Youtube</h4>
        <p>Subscribe to our channel</p>
      </div>
      <div class='two spacing'></div>
    </div>
<!--
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='http://tumblr.com'>
          <i class='fa fa-tumblr'></i>
        </a>
        <h4>Tumblr</h4>
        <p>View some new trends</p>
      </div>
      <div class='two spacing'></div>
    </div>
-->
  </div>
  <div class='two spacing'></div>
</div>
